<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Edit Expense Report</title>
</head>
<body>
  <%- include('../partials/nav') %>
  
  <h1>Edit Expense Report</h1>

  <form action="/expenseReports/<%= report._id %>?_method=PUT" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= report.title %>" required>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" value="<%= report.startDate.toISOString().substr(0, 10) %>" required>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" value="<%= report.endDate.toISOString().substr(0, 10) %>" required>

    <button type="submit">Update Expense Report</button>
  </form
</body>
</html>